*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}
.container{
    width: 80%;
    min-height: 100vh;
    margin: 3rem auto;
    padding: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 100%); 
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.7);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 22rem;
    margin-right: 1rem;
}
#addTaskBtn {
    padding: 15px 30px;
    border-radius: 15px;
    border: solid rgb(80, 80, 80);
    border-width: 1px;
    background-color: #0b571f;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #addTaskBtn:hover {
    background-color: #30b54a;
  }
ul{
    list-style: none;
    margin-top: 20px;
}

li{
    margin-bottom: 20px;
    background-color: aquamarine;
    padding: 16px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.7);
}

li:hover{
    background-color: #c9c9c9;
}
li.clicked {
    background-color:#c9c9c9 ; /* Replace with the color you want */
  }
li input[type="checkbox"]{
    float: left;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    
}
li input[type="checkbox"]:checked{
    background-color: #000;
    background-image: url();
}
li button{
    background-image: url(/Todo-1/trashcan.png);
    background-size: 40px 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 10px;
    height: 40px;
    color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
}
li button:hover{
    background-color: #c9c9c9;
}

#errorMsg {
    display: none;
    color: red;
    margin-top: 10px;
}

button {
  padding: 15px 30px;
  border-radius: 15px;
  border: solid rgb(80, 80, 80);
  border-width: 1px;
  background-color: #be0202;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #3d0200;
}
